<style>
    .search-select-container {
        position: relative;
    }

    .agent-dropdownnn {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 0;
        margin-top: 0;
        
        max-height: 200px; /* Optional: Set max height for dropdown */
        overflow-y: auto; /* Optional: Add vertical scrollbar */
    }

    .agent-dropdownnn li {
        padding: 5px 10px;
        cursor: pointer;
    }

    .agent-dropdown li:hover {
        background-color: #f0f0f0;
    }
</style>


  <div class="modal fade" id="agentModal-{{i.id}}" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url "update_assigned_agent" i.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="redirect_to" value="{% if request.path == '/ActiveLeads/' %}active_leads{% elif request.path == '/LatestLeads/' %}latest_leads{% elif request.path == '/InprocessLeads/' %}inprocess_leads{% elif request.path == '/AppointmentLeads/' %}appointment_leads{% elif request.path == '/DeliveredLeads/' %}delivered_leads{% elif request.path == '/CompletedLeads/' %}completed_leads{% elif request.path == '/EnrolledLeads/' %}enrolled_leads{% else %}new_leads{% endif %}">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="agentModalLabel">Assigned To Agent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <div class="modal-body">
                    {% if i.lead_status == "New Lead" %}
                   
                        <label for="agentSearchInput-{{i.id}}" class="custom-form-label">Assigned To Agent</label>
                       
                        <div class="search-select-container">
                            
                            <input type="text" id="agent-search-{{i.id}}"  placeholder="Type to search for an agent"  class="form-control"/>  <!-- Search input -->
                            <input type="text" id="agent-id" name="agentIdInput" placeholder="Type to search for an agent"  class="form-control" hidden/>  <!-- Search input -->
                            <ul id="agent-list-{{i.id}}" class="agent-dropdownnn">  
                                <!-- Results will be inserted here -->
                            </ul>
                        </div> 
                  
                       
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>



   <script>
    // Function to set the value of redirect_to based on the current URL
    function setRedirectTo(currentPath, modalId) {
        var redirectInput = document.querySelector('#' + modalId + ' input[name="redirect_to"]');
        if (currentPath.includes("/ActiveLeads/")) {
            redirectInput.value = "active_leads";
        } else if (currentPath.includes("/LatestLeads/")) {
            redirectInput.value = "latest_leads";
        } else if (currentPath.includes("/InprocessLeads/")) {
            redirectInput.value = "inprocess_leads";
        } else if (currentPath.includes("/AppointmentLeads/")) {
            redirectInput.value = "appointment_leads";
        } else if (currentPath.includes("/DeliveredLeads/")) {
            redirectInput.value = "delivered_leads";
        } else if (currentPath.includes("/CompletedLeads/")) {
            redirectInput.value = "completed_leads";
        } else if (currentPath.includes("/EnrolledLeads/")) {
            redirectInput.value = "enrolled_leads";
        } else {
            redirectInput.value = "new_leads";
        }
    }

    // Call the setRedirectTo function when each modal is shown
    document.addEventListener("DOMContentLoaded", function () {
        var modals = document.querySelectorAll('.modal');
        modals.forEach(function(modal) {
            modal.addEventListener('shown.bs.modal', function () {
                var currentPath = window.location.pathname;
                var modalId = modal.getAttribute('id');
                setRedirectTo(currentPath, modalId);
            });
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Frontend JavaScript -->

<!-- <script>
    $(document).ready(function() {
        $("[id^='agent-search']").on("input", function() {
            var $input = $(this);
            var id = $input.attr("id").split("-")[2];
            var query = $input.val();
            console.log("querysssssssssssss", query);

            // Check if the query length is at least 4 characters
            if (query.length >= 4) {
                $.ajax({
                    url: "{% url 'agent_search' %}",
                    data: { q: query },
                    success: function(response) {
                        var results = response.results;
                        var $list = $("#agent-list-" + id);
                        $list.empty();

                        results.forEach(function(agent) {
                            var listItem = <li data-agent-id="${agent.id}">${agent.text}</li>;
                            $list.append(listItem);
                            console.log(listItem,"LLLLLLLLLLLLLLLLLLLLLl")
                        });
                    },
                });
            } else {
                // If the query length is less than 4, clear the list
                $("#agent-list-" + id).empty();
            }
        });

        $("[id^='agent-list']").on("click", "li", function() {
            var $li = $(this);
            var agentName = $li.text();
            var agentId = $li.data("agent-id"); // Get the agent ID from data attribute
            var id = $li.closest(".modal").attr("id").split("-")[1];
            $("#agent-search-" + id).val(agentName); // Set input value
            $("#agent-id").val(agentId); // Set input value
        });
    });
</script> -->

<script>
    $(document).ready(function() {
        $('.modal').on('input', '[id^="agent-search"]', function() {
            var $input = $(this);
            var $modal = $input.closest('.modal');
            var id = $input.attr('id').split('-')[2];
            var query = $input.val();
    
            // Check if the query length is at least 4 characters
            if (query.length >= 4) {
                $.ajax({
                    url: "{% url 'agent_search' %}",
                    data: { q: query },
                    success: function(response) {
                        var results = response.results;
                        var $list = $modal.find('#agent-list-' + id);
                        $list.empty();
    
                        results.forEach(function(agent) {
                            var listItem = <li data-agent-id="${agent.id}">${agent.text}</li>;
                            $list.append(listItem);
                            
                        });
                    },
                });
            } else {
                // If the query length is less than 4, clear the list
                $modal.find('#agent-list-' + id).empty();
            }
        });
    
        $('.modal').on('click', '[id^="agent-list"] li', function() {
            var $li = $(this);
            var agentName = $li.text();
            var agentId = $li.data('agent-id');
            var $modal = $li.closest('.modal');
            var id = $modal.attr('id').split('-')[1];
    
            $modal.find('#agent-search-' + id).val(agentName); // Set input value
            $modal.find('#agent-id').val(agentId); // Set input value
        });
    });
    
</script>